.container {
    margin-top: 55px;
    overflow: hidden;
    min-height: 500px;
    background-color: #fff;
    margin-bottom: 35px;
    padding: 78px 25px 25px;
}

.container .searchBar {
    zoom: 1;
}

.container .searchBar::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.container .searchBar .selector {
    width: 242px;
    float: left;
    margin-right: 20px;
    border: 1px solid #94070a;
    border-radius: 20px;
    height: 40px;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
}

.container .searchBar .selector .option_cur {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    position: relative;
}

.container .searchBar .selector .option_cur span {
    display: block;
    width: 100%;
    color: #838383;
    font-size: 16px;
    letter-spacing: 1px;
}

.container .searchBar .selector .option_cur i {
    width: 0;
    position: absolute;
    right: 0;
    top: 18px;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 5px solid #b5b5b5;
}

.container .searchBar .selector .option_cur i .on {
    border-top-color: #94070a;
}

.container .searchBar .selector .optionList {
    display: none;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 42px;
    left: 0;
    background-color: #fff;
    z-index: 99996;
    box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.4);
    padding: 10px 0;
}

.container .searchBar .selector .optionList .optionItem {
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
}

.container .searchBar .searchInput {
    width: 385px;
    height: 42px;
    overflow: hidden;
    float: right;
    margin-bottom: 20px;
    zoom: 1;
    position: relative;
    z-index: 99999;
}

.container .searchBar .searchInput::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.container .searchBar .searchInput input {
    float: left;
    height: 100%;
    box-sizing: border-box;
    width: 64%;
    border: 1px solid #aaa;
    border-radius: 21px;
    padding: 10px;
    font-size: 16px;
    color: #838383;
}

.container .searchBar .searchInput input:-moz-placeholder {
    color: #aaa;
}

.container .searchBar .searchInput input::-moz-placeholder {
    color: #aaa;
}

.container .searchBar .searchInput input:-ms-input-placeholder {
    color: #aaa;
}

.container .searchBar .searchInput input::-webkit-input-placeholder {
    color: #aaa;
}

.container .searchBar .searchInput .searchBtn {
    float: left;
    width: 31%;
    height: 100%;
    box-sizing: border-box;
    line-height: 42px;
    cursor: pointer;
    color: #424242;
    border: none;
    background: #c8c8c8;
    font-size: 16px;
    letter-spacing: 6px;
    border-radius: 21px;
    font-size: "Microsoft YaHei";
    text-align: center;
    margin-left: 5%;
}

.container .contentList {
    padding: 40px 0 20px;
}

.container .contentList .contentItem {
    border: 1px solid #bcbcbc;
    border-radius: 5px;
    background-color: #eee;
    position: relative;
    margin-left: 50px;
    min-height: 100px;
    z-index: 6;
    margin-bottom: 27px;
}

.container .contentList .contentItem a {
    color: #000;
}

.container .contentList .contentItem a .item-dates {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: #94070a;
    display: block;
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -46px;
    left: -50px;
}

.container .contentList .contentItem a .item-dates i {
    font-size: 22px;
    display: block;
    color: #fff;
    margin: 0 auto;
    padding-top: 20px;
}

.container .contentList .contentItem a .item-dates strong {
    font-size: 16px;
    color: #fff;
    display: block;
    font-weight: normal;
    padding-top: 5px;
}

.container .contentList .contentItem a .item-con01 {
    margin: 0 40px 0 82px;
    padding: 15px 0 20px;
}

.container .contentList .contentItem a .item-con01 h3 {
    font-size: 24px;
    font-weight: normal;
    color: #94070a;
    border-bottom: 1px solid #959595;
    width: auto;
    height: auto;
    overflow: hidden;
    line-height: 30px;
    padding: 12px 0;
    /*padding: 0;*/
    margin-bottom: 8px;
}

.container .contentList .contentItem a .item-con01 p {
    line-height: 22px;
    padding: 5px 0;
    font-size: 17px;
    padding-left: 40px;
}

.container .contentList .contentItem a .item-con01 p span {
    color: #4c4c4c;
    margin-right: 13px;
    font-size: 14px;
    float: left;
}

.container .contentList .contentItem a .item-con01 p strong {
    font-weight: normal;
    margin-left: 40px;
    display: block;
}

.container .contentList .contentItem a .item-con01 .p_time {
    background: url(../images/icon_p01.png) no-repeat left 5px;
}

.container .contentList .contentItem a .item-con01 .p_place {
    background: url(../images/icon_p02.png) no-repeat left 5px;
}

.container .contentList .contentItem a .item-con01 .p_name {
    background: url(../images/icon_p03.png) no-repeat left 5px;
}

.container .contentList .contentItem a .item-img01 {
    display: none;
    width: 180px;
    position: absolute;
    right: 29px;
    top: 50%;
    margin-top: -67px;
}

.container .contentList .contentItem a .item-img01 span {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
}

.container .contentList .contentItem a .item-img01 span img {
    width: 100%;
    display: block;
}

.container .contentList .promptTip {
    font-size: 18px;
    text-align: center;
    line-height: 200px;
    color: #666;
}

.container .pagination {
    width: 420px;
    height: 28px;
    line-height: 26px;
    margin: 30px auto 60px;
    font-size: 14px;
    text-align: center;
    zoom: 1;
}

.container .pagination::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.container .pagination > div {
    float: left;
}

.container .pagination .btn_start,
.container .pagination .btn_end {
    width: 28px;
    height: 26px;
    border: 1px solid #d3d3d3;
    margin: 0 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .pagination .btn_prev,
.container .pagination .btn_next {
    width: 63px;
    height: 26px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .pagination .gotoCertainPage {
    zoom: 1;
    margin: 0 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .pagination .gotoCertainPage::after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.container .pagination .gotoCertainPage span {
    float: left;
    margin: 0 10px;
}

.container .pagination .gotoCertainPage select {
    float: left;
    width: 60px;
    height: 26px;
    border: 1px solid #d3d3d3;
    cursor: pointer;
}

@media screen and (max-width: 750px) {
    .container {
        padding: 10px;
    }

    .container .searchBar .sel_time {
        z-index: 300;
    }

    .container .searchBar .sel_sort {
        z-index: 200;
    }

    .container .searchBar .searchInput {
        float: left;
        z-index: 100;
    }

    .container .contentList {
        padding: 20px 0;
    }

    .container .contentList .contentItem {
        margin: 50px 0 0;
    }

    .container .contentList .contentItem a .item-dates {
        top: -46px;
        left: 50%;
        margin-left: -46px;
        margin-top: 0;
    }

    .container .contentList .contentItem a .item-con01 {
        margin: 50px 10px 0 10px;
    }

    .container .contentList .contentItem a .item-img01 {
        position: static;
    / / display: block;
        display: none;
        width: 100%;
        margin-top: 0;
    }
}
